@use "mixins" as *;

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 137px;
}

@include vp-1023 {
  .container {
    padding-inline: 16px;
  }
}

@include vp-767 {
  .container {
    padding-inline: 6px;
  }
}