// Colors

$background-color: rgba(255, 255, 255, 1);
$text-color: rgba(0, 44, 62, 1);
$text-secondary-color: rgba(90, 118, 130, 1);
$error-color: rgba(217, 45, 32, 1);
$primary-background-color: rgba(230, 248, 252, 1);
$primary-button-color: linear-gradient(
                149.28deg,
                rgba(60, 195, 231, 1),
                rgba(25, 202, 228, 1) 11%,
                rgba(96, 252, 208, 1) 100%);
$primary-button-color-hover: linear-gradient(
                149.28deg,
                rgba(77.058837890625, 199.5640869140625, 232.2321319580078, 1),
                rgba(37.1219482421875, 214.1907958984375, 240.2008819580078, 1) 9%,
                rgba(136.16212463378906, 253.8616180419922, 220.66433715820312, 1) 100%);
$primary-button-color-focus: linear-gradient(
                149.28deg,
                rgba(60, 195, 231, 1),
                rgba(25, 202, 228, 1) 11%,
                rgba(96, 252, 208, 1) 100%);
$secondary-color: rgba(51, 196, 233, 1);
$secondary-color-focus: rgba(3, 165, 201, 1);

// Typography

$ff-mulish: "Mulish", "Arial", sans-serif;

// Viewport

$vp-tablet: 768px;
$vp-mobile: 375px;
$vp-desktop: 1024px;

// Transition

$transition: ease-in 0.3s;